.dynamicMap {
  height: 50dvh;
  width: 90dvw;
  margin-top: 20px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.4);
}
@media (width > 1440px){
  .dynamicMap {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-start;
    width: 95%;
    height: 60dvh;
  }
}