.headerForNow {
  background-color: #b6e1c9;
  height: 100px;
  margin-bottom: 0;
}

.createRoute__OpeningParas {
  background-color: #04b66c;
  height: 200px;
  margin-top: 0;
  text-align: center;
}

.createRoute__OpeningParas h2 {
  margin-top: 0;
  padding: 10px;
  color: white;
  width: 65%;
  margin: 0 auto;
}
