.savedRoutesTable {
  background-color: aliceblue;
  width: 100%;
  padding: 1rem;
}

.savedRoutesTable__retrieveRouteButton {
}

.savedRoutesTable__deleteRouteButton {
  background-color: rgb(247, 136, 136);
}

.loading-gif {
  width: 20vw;
  height: auto;
}

.savedRoutes__loading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
}

.uplot-logo {
  width: 25vw;
  height: auto;
}
