/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b6e1c9;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 100;
  border-bottom: #ffffff solid 1px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.71);
  -moz-box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.71);
  box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.71);
}

.header__logo {
  cursor: pointer;
  width: 150px;
  height: 100px;
  padding-top: 15px;
  margin-left: 20px;
}

.header__openButton {
  background: 0;
  border: none;
  width: 45px;
  height: 45px;
  padding: 0;
  margin-right: 40px;
}

.header__burger {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* Styles for conditionally rendered menu bar */

.header__navigationMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 360px;
  background-color: #ffffff;
  font-weight: 600;
  background-color: #ffffff00;
}

.header__linksList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff00;
}

.header__link {
  font-size: 1.5rem;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  list-style: none;
  border: #000000 solid 4px;
  height: 33.3%;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0);
  border-radius: 20px;
}

.header__link:hover {
  background-color: #e9e9e9;
  padding-left: 10px;
}

.header__homeIcon {
  height: 60px;
  padding-left: 20px;
  padding-right: 15px;
}
.header__markerIcon {
  height: 60px;
  padding-left: 25px;
  padding-right: 15px;
}
.header__savedIcon {
  height: 60px;
  padding-left: 16px;
  padding-right: 2px;
}

.header__linkItem {
  padding-left: 20px;
}

/* Brute force style to fix duplicated borders */
.fixBorder {
  border-bottom: none;
}

.header__closeButton {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 6rem;
  text-align: center;
  padding: 0px 0px 10px 0px;
  border: none;
  cursor: pointer;
}

.header__closeButton:hover {
  color: #000000;
  background: none;
}

/* Breakpoints */

@media (width > 1024px) {
  .header__logo {
    width: 250px;
    height: 150px;
  }

  .header__openButton {
    width: 60px;
    height: 60px;
  }

  .header__burger {
    width: 70px;
    height: 70px;
  }

  .header__navigationMenu {
    width: 30%;
  }

  .header__link {
    font-size: 1.8rem;
  }

  .header__link img {
    height: 40px;
  }

  .header__closeButton {
    width: 100px;
  }
}

@media (width > 1200px) {
  .header__closeButton {
    width: 120px;
  }
}
