/* Main Styles */

.routeData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-top: 25px;
}

/* Form input styles */

.routeData__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.routeData__label {
  display: none;
}

.routeData__nameInput {
  width: 75%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  padding: 0px 0px 0px 20px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
}

.routeData__nameInput:focus {
  border: #04b66c solid 4px;
  outline: none;
}

.routeData__saveRouteButton {
  background-color: #04b66c;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 20%;
}

.routeData__saveRouteButton:hover {
  background-color: #ffffff;
  color: #04b66c;
  cursor: pointer;
}

/* Route information and reset button styles */

.routeData__information {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.routeData__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.5rem;
  width: 75%;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0px 0px 60px 0px;
  padding: 10px 0px 10px 0px;
}

.routeData__listItem {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 20px;
  background-color: rgb(228, 228, 228);
}

.routeData__resetRouteButton {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 20%;
}

.routeData__resetRouteButton:hover {
  background-color: #ffffff;
  color: #04b66c;
  cursor: pointer;
}

@media (width > 1440px) {
  .routeData {
    grid-column: 2 /4;
    grid-row: 2 / 43;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    align-self: flex-start;
    gap: 20px;
  }

  .routeData__information {
    margin: 0px 0px 0px 0px;
  }
}
